header {
    color: white;
    width: 100vw;
    padding-right: 10vw;
    padding-left: 10vw;
}
.navbar-brand {
    font-size: 30px;
}
.dropdown-menu > a {
    color: black !important;
}
.navbar {
    background-color: #ec0000 !important;
}
a {
    color: white !important;
}
.nav-link,
.nav-dropdown-item {
    color: white;
}

.nav-dropdown-item:hover {
    color: white;
}

nav {
    height: 100%;
}

h1 {
    font-size: xx-large;
}
