header {
    margin-top: 15px;
    color: white;
    width: 100vw;

    padding-right: 10vw;
    padding-left: 10vw;
}
img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar-expand-lg {
    border-radius: 10px;
    border: solid 2px #b49863;
}
.navbar-brand {
    font-size: 30px;
}
.dropdown-menu > a {
    color: #2a3844 !important;
}
.navbar {
    background-color: #e7eef1 !important;
}

a {
    color: #2a3844 !important;
}
.nav-link,
.nav-dropdown-item {
    color: #2a3844;
}

.nav-dropdown-item:hover {
    color: #2a3844;
}

nav {
    height: 100%;
}

h1 {
    font-size: xx-large;
}
.collapse {
    margin-left: 15px;
    justify-content: space-between;
}
.dropdown-menu.show {
    border: solid 2px #b49863;
    height: 80px;
}
